doctype html
html(lang="en")
    head
        title="Test template"
        link(href='style.css', rel='stylesheet')
        script(src="build/bundle.js")
body
    Index

    //Fall-back when no JS is enabled :(
    noscript
        div.
            Javascript is disabled. App cannot work :(
Contact GitHub API Training Shop Blog About
